.file-list-ul {
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.file-list-item {
  margin-bottom: 6px;
}

.file-link {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s, font-weight 0.2s;
}

.file-link:hover {
  color: red;
  font-weight: bold;
}
